/*CSS FILE*/ 

/*head CSS*/

.beginning {
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
}
.container {
    position: relative;
    text-align: center;
    color:black;
    width: auto;
}
.titlecontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*social media CSS*/
.instagram1 {
    position: absolute;
    top: 8px;
    left: 1%;
  }

.facebook2 {
    position: absolute;
    top: 8px;
    left: 6%;
}
.youtube3 {
    position: absolute;
    top: 8px;
    left: 11%;
}

.phonenumber4 {
    position: absolute;
    top: 60px;
    left: 2.0%;
    font-size: larger;
    font-family: 'Segoe UI';
}


/*menu bar*/
table, th{
    font-family: 'Segoe UI';
    background-color: palevioletred;
    border-collapse: collapse;
    border: 3px solid black;
}

.maintitle {
    color: black;
    text-align: center;
}

/*About section*/
.mainabout {
    position: relative;
    text-align: center;
    color:black;
    width: auto;
}

.about {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
